
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483933520498'); /* IE9*/
  src: url('iconfont.eot?t=1483933520498#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483933520498') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1483933520498') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483933520498#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-che:before { content: "\e60b"; }

.icon-fenlei:before { content: "\e66f"; }

.icon-wode:before { content: "\e618"; }

.icon-liren:before { content: "\e606"; }

.icon-tubiao102:before { content: "\e629"; }

.icon-zuo:before { content: "\e60c"; }

.icon-xia:before { content: "\e720"; }

.icon-icon-search:before { content: "\e67f"; }

.icon-angle-right-copy:before { content: "\e60d"; }

.icon-xuexipeixun:before { content: "\e604"; }

.icon-dianying:before { content: "\e60e"; }

.icon-shenghuofuwu:before { content: "\e60f"; }

.icon-meishi:before { content: "\e610"; }

.icon-zhoubianyou:before { content: "\e613"; }

.icon-ktv:before { content: "\e614"; }

.icon-jiehun:before { content: "\e619"; }

.icon-jiazhuang:before { content: "\e61a"; }

.icon-xiuxianyule:before { content: "\e62a"; }

.icon-quanbu:before { content: "\e62b"; }

.icon-xiaochikuaican:before { content: "\e62c"; }

.icon-waimai:before { content: "\e62d"; }

.icon-jinrixindan:before { content: "\e62e"; }

.icon-shouyeshouye:before { content: "\e62f"; }

.icon-zuliao:before { content: "\e666"; }

.icon-service-hotel-copy1:before { content: "\e603"; }

.icon-muyingqinzi:before { content: "\e6f1"; }

.icon-huochepiao:before { content: "\e638"; }

.icon-icon-test:before { content: "\e601"; }

